/******** HEADER ********/
.header {
  display: flex;
}
.header i {
  font-size: xx-large;
  color: rgb(87, 77, 204);
}
p.header {
  display: flex;
  align-items: center;
  margin: 0px 40px;
}
h1 {
  font-weight: 400;
}
hr {
  opacity: 0.4;
}
/********END HEADER ********/
/******** BODY ********/
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}
.counter {
  display: flex;
}
.btn-counter {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(87, 77, 204);
  color: white;
  font-size: x-large;
  margin: 50px;
  cursor: pointer;
}
.result {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-color: rgb(87, 77, 204);
  color: white;
  border-radius: 5px;
  margin: 20px;
}
.btn-reset {
  background-color: rgb(87, 77, 204);
  width: 80px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.minus,
.plus {
  font-size: xx-large;
  border: none;
  background-color: white;
  cursor: pointer;
}
button.plus:focus {
  outline: none;
}
button.minus:focus {
  outline: none;
}
/********END BODY ********/

/******** FOOTER ********/
.footer {
  text-align: center;
}
strong {
  color: rgb(87, 77, 204);
}
/********END FOOTER********/

